
.container {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1{
    font-size: 45px;
    font-weight: 400;
    font-family:'Playfair Display', serif;
    line-height: 1.333;
    margin-bottom: 16px;
}
h2{
    font-size: 32px;
    font-weight: 400;
    font-family:'Playfair Display', serif;
    line-height: 1.34;
    margin-bottom: 16px;
    color:  #1B1A17;
}

h3{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto';
    text-transform: uppercase;
    margin-bottom: 33px;
}